<div class="page-loader-wrapper">
    <div class="loader">
        <div class="m-t-30">
            <img class="zmdi-hc-spin" src="assets/images/logo.svg" width="48" height="48" alt="Oreo">
        </div>
        <p>Please wait...</p>
    </div>
</div>
<div class="overlay"></div>
<div class="row">
<div>
    <!-- Left Sidebar -->
    <div>
        <div>
            <aside id="leftsidebar" class="sidebar">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#dashboard">
                            <i class="zmdi zmdi-home m-r-5"></i>레이아웃</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#user">
                            <i class="zmdi zmdi-account m-r-5"></i>이미지</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#user">
                            <i class="zmdi zmdi-account m-r-5"></i>텍스트</a>
                    </li>
                </ul>
        
                <div class="tab-content">
                    <div class="tab-pane stretchRight active" id="dashboard">
                        <div class="menu">
                            <ul class="list">
                                <div _ngcontent-c0="" class="input-group">
                                    <input _ngcontent-c0="" class="form-control" placeholder="Search..." type="text">
                                    <span _ngcontent-c0="" class="input-group-addon">
                                        <i _ngcontent-c0="" class="zmdi zmdi-search"></i>
                                    </span>
                                </div>
                                <div>
                                    <div class="row">
                                        <div>
                                            <div class="card">
                                                <div>
                                                    <div id="aniimated-thumbnials" class="list-unstyled row clearfix">
                                                        <div class="col-xl-6 col-lg-4 col-md-6 col-sm-12 m-b-20">
                                                            <a (click)="applyTemplate(0);">
                                                                <img class="img-fluid img-thumbnail" src="http://www.kemasaja.com/images/../editor/json_project/pic_2b53f1e6505a7ae2c243fd7b44a864df-5.png"
                                                                    alt=""> </a>
                                                        </div>
                                                        <div class="col-xl-6 col-lg-4 col-md-6 col-sm-12 m-b-20">
                                                            <a (click)="applyTemplate(1);">
                                                                <img class="img-fluid img-thumbnail" src="http://www.kemasaja.com/images/../editor/json_project/pic_2b53f1e6505a7ae2c243fd7b44a864df-4.png"
                                                                    alt=""> </a>
                                                        </div>
                                                        <div class="col-xl-6 col-lg-4 col-md-6 col-sm-12 m-b-20">
                                                            <a (click)="applyTemplate(2);">
                                                                <img class="img-fluid img-thumbnail" src="assets/images/templates/pic_f7eb26186161551fa08bb96d738ddd4f-3_2.png"
                                                                    alt=""> </a>
                                                        </div>
                                                        <div class="col-xl-6 col-lg-4 col-md-6 col-sm-12 m-b-20">
                                                            <a (click)="applyTemplate(3);">
                                                                <img class="img-fluid img-thumbnail" src="assets/images/templates/pic_f7eb26186161551fa08bb96d738ddd4f-2_2.png"
                                                                    alt=""> </a>
                                                        </div>
                                                        <div class="col-xl-6 col-lg-4 col-md-6 col-sm-12 m-b-20">
                                                            <a (click)="applyTemplate(4);">
                                                                <img class="img-fluid img-thumbnail" src="http://www.kemasaja.com/images/../editor/json_project/pic_f7eb26186161551fa08bb96d738ddd4f-3.png"
                                                                    alt=""> </a>
                                                        </div>
                                                        <div class="col-xl-6 col-lg-4 col-md-6 col-sm-12 m-b-20">
                                                            <a (click)="applyTemplate(5);">
                                                                <img class="img-fluid img-thumbnail" src="http://www.kemasaja.com/images/../editor/json_project/pic_f3f3719177b95b76a10e3360bd8b01ec-1.png"
                                                                    alt=""> </a>
                                                        </div>
                                                        <div class="col-xl-6 col-lg-4 col-md-6 col-sm-12 m-b-20">
                                                            <a (click)="applyTemplate(6);">
                                                                <img class="img-fluid img-thumbnail" src="assets/images/templates/pic_2b53f1e6505a7ae2c243fd7b44a864df-4_2.png"
                                                                    alt=""> </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane stretchLeft" id="user">
                        <div class="menu">
                            <ul class="list">
                                <div>
                                    <div class="card">
                                            <div class="card-header">Add images</div>
                                            <div class="card-body">
                                                <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/pikachu.svg">
                                                <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/squirtle.svg">
                                                <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/bullbasaur.svg">
                                                <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/charmander.svg">
                                                <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/bellsprout.svg">
                                                <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/caterpie.svg">
                                                <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/dratini.svg">
                                                <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/eevee.svg">
                                                <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/jigglypuff.svg">
                                                <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/mankey.svg">
                                                <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/meowth.svg">
                                                <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/pidgey.svg">
                                                <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/psyduck.svg">
                                                <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/rattata.svg">
                                                <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/abra.svg">
                                                <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/snorlax.svg">
                                                <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/zubat.svg">
                                                <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/yadis.svg">
                                                <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/cookthedesign.svg">
                                            </div>
                                        </div>
                                    </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>

<!-- Right Sidebar -->
<aside id="rightsidebar" class="right-sidebar">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#setting">
                <i class="zmdi zmdi-settings zmdi-hc-spin"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#chat">
                <i class="zmdi zmdi-comments"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#activity">Activity</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane slideRight active" id="setting">
            <div class="slim_scroll">
                <div class="card">
                    <h6>General Settings</h6>
                    <ul class="setting-list list-unstyled">
                        <li>
                            <div class="checkbox">
                                <input id="checkbox1" type="checkbox">
                                <label for="checkbox1">Report Panel Usage</label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <input id="checkbox2" type="checkbox" checked="">
                                <label for="checkbox2">Email Redirect</label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <input id="checkbox3" type="checkbox" checked="">
                                <label for="checkbox3">Notifications</label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <input id="checkbox4" type="checkbox" checked="">
                                <label for="checkbox4">Auto Updates</label>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="card">
                    <h6>Skins</h6>
                    <ul class="choose-skin list-unstyled">
                        <li data-theme="purple" class="active">
                            <div class="purple"></div>
                        </li>
                        <li data-theme="blue">
                            <div class="blue"></div>
                        </li>
                        <li data-theme="cyan">
                            <div class="cyan"></div>
                        </li>
                        <li data-theme="green">
                            <div class="green"></div>
                        </li>
                        <li data-theme="orange">
                            <div class="orange"></div>
                        </li>
                        <li data-theme="blush">
                            <div class="blush"></div>
                        </li>
                    </ul>
                </div>
                <div class="card">
                    <h6>Account Settings</h6>
                    <ul class="setting-list list-unstyled">
                        <li>
                            <div class="checkbox">
                                <input id="checkbox5" type="checkbox" checked="">
                                <label for="checkbox5">Offline</label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <input id="checkbox6" type="checkbox" checked="">
                                <label for="checkbox6">Location Permission</label>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="card theme-light-dark">
                    <h6>Left Menu</h6>
                    <button class="t-light btn btn-default btn-simple btn-round btn-block">Light</button>
                    <button class="t-dark btn btn-default btn-round btn-block">Dark</button>
                    <button class="m_img_btn btn btn-primary btn-round btn-block">Sidebar Image</button>
                </div>
            </div>
        </div>
        <div class="tab-pane right_chat stretchLeft" id="chat">
            <div class="slim_scroll">
                <div class="card">
                    <div class="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-search"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <h6>Recent</h6>
                    <ul class="list-unstyled">
                        <li class="online">
                            <a href="javascript:void(0);">
                                <div class="media">
                                    <img class="media-object " src="assets/images/xs/avatar4.jpg" alt="">
                                    <div class="media-body">
                                        <span class="name">Sophia</span>
                                        <span class="message">There are many variations of passages of Lorem Ipsum available</span>
                                        <span class="badge badge-outline status"></span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="online">
                            <a href="javascript:void(0);">
                                <div class="media">
                                    <img class="media-object " src="assets/images/xs/avatar5.jpg" alt="">
                                    <div class="media-body">
                                        <span class="name">Grayson</span>
                                        <span class="message">All the Lorem Ipsum generators on the</span>
                                        <span class="badge badge-outline status"></span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="offline">
                            <a href="javascript:void(0);">
                                <div class="media">
                                    <img class="media-object " src="assets/images/xs/avatar2.jpg" alt="">
                                    <div class="media-body">
                                        <span class="name">Isabella</span>
                                        <span class="message">Contrary to popular belief, Lorem Ipsum</span>
                                        <span class="badge badge-outline status"></span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="me">
                            <a href="javascript:void(0);">
                                <div class="media">
                                    <img class="media-object " src="assets/images/xs/avatar1.jpg" alt="">
                                    <div class="media-body">
                                        <span class="name">John</span>
                                        <span class="message">It is a long established fact that a reader</span>
                                        <span class="badge badge-outline status"></span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="online">
                            <a href="javascript:void(0);">
                                <div class="media">
                                    <img class="media-object " src="assets/images/xs/avatar3.jpg" alt="">
                                    <div class="media-body">
                                        <span class="name">Alexander</span>
                                        <span class="message">Richard McClintock, a Latin professor</span>
                                        <span class="badge badge-outline status"></span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card">
                    <h6>Contacts</h6>
                    <ul class="list-unstyled">
                        <li class="offline inlineblock">
                            <a href="javascript:void(0);">
                                <div class="media">
                                    <img class="media-object " src="assets/images/xs/avatar10.jpg" alt="">
                                    <div class="media-body">
                                        <span class="badge badge-outline status"></span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="offline inlineblock">
                            <a href="javascript:void(0);">
                                <div class="media">
                                    <img class="media-object " src="assets/images/xs/avatar6.jpg" alt="">
                                    <div class="media-body">
                                        <span class="badge badge-outline status"></span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="offline inlineblock">
                            <a href="javascript:void(0);">
                                <div class="media">
                                    <img class="media-object " src="assets/images/xs/avatar7.jpg" alt="">
                                    <div class="media-body">
                                        <span class="badge badge-outline status"></span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="offline inlineblock">
                            <a href="javascript:void(0);">
                                <div class="media">
                                    <img class="media-object " src="assets/images/xs/avatar8.jpg" alt="">
                                    <div class="media-body">
                                        <span class="badge badge-outline status"></span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="offline inlineblock">
                            <a href="javascript:void(0);">
                                <div class="media">
                                    <img class="media-object " src="assets/images/xs/avatar9.jpg" alt="">
                                    <div class="media-body">
                                        <span class="badge badge-outline status"></span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="online inlineblock">
                            <a href="javascript:void(0);">
                                <div class="media">
                                    <img class="media-object " src="assets/images/xs/avatar5.jpg" alt="">
                                    <div class="media-body">
                                        <span class="badge badge-outline status"></span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="offline inlineblock">
                            <a href="javascript:void(0);">
                                <div class="media">
                                    <img class="media-object " src="assets/images/xs/avatar4.jpg" alt="">
                                    <div class="media-body">
                                        <span class="badge badge-outline status"></span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="offline inlineblock">
                            <a href="javascript:void(0);">
                                <div class="media">
                                    <img class="media-object " src="assets/images/xs/avatar3.jpg" alt="">
                                    <div class="media-body">
                                        <span class="badge badge-outline status"></span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="online inlineblock">
                            <a href="javascript:void(0);">
                                <div class="media">
                                    <img class="media-object " src="assets/images/xs/avatar2.jpg" alt="">
                                    <div class="media-body">
                                        <span class="badge badge-outline status"></span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="offline inlineblock">
                            <a href="javascript:void(0);">
                                <div class="media">
                                    <img class="media-object " src="assets/images/xs/avatar1.jpg" alt="">
                                    <div class="media-body">
                                        <span class="badge badge-outline status"></span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tab-pane slideLeft" id="activity">
            <div class="slim_scroll">
                <div class="card user_activity">
                    <h6>Recent Activity</h6>
                    <div class="streamline b-accent">
                        <div class="sl-item">
                            <img class="user rounded-circle" src="assets/images/xs/avatar4.jpg" alt="">
                            <div class="sl-content">
                                <h5 class="m-b-0">Admin Birthday</h5>
                                <small>Jan 21
                                    <a href="javascript:void(0);" class="text-info">Sophia</a>.</small>
                            </div>
                        </div>
                        <div class="sl-item">
                            <img class="user rounded-circle" src="assets/images/xs/avatar5.jpg" alt="">
                            <div class="sl-content">
                                <h5 class="m-b-0">Add New Contact</h5>
                                <small>30min ago
                                    <a href="javascript:void(0);">Alexander</a>.</small>
                                <small>
                                    <strong>P:</strong> +264-625-2323</small>
                                <small>
                                    <strong>E:</strong> maryamamiri@gmail.com</small>
                            </div>
                        </div>
                        <div class="sl-item">
                            <img class="user rounded-circle" src="assets/images/xs/avatar6.jpg" alt="">
                            <div class="sl-content">
                                <h5 class="m-b-0">Code Change</h5>
                                <small>Today
                                    <a href="javascript:void(0);">Grayson</a>.</small>
                                <small>The standard chunk of Lorem Ipsum used since the 1500s is reproduced</small>
                            </div>
                        </div>
                        <div class="sl-item">
                            <img class="user rounded-circle" src="assets/images/xs/avatar7.jpg" alt="">
                            <div class="sl-content">
                                <h5 class="m-b-0">New Email</h5>
                                <small>45min ago
                                    <a href="javascript:void(0);" class="text-info">Fidel Tonn</a>.</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <h6>Recent Attachments</h6>
                    <ul class="list-unstyled activity">
                        <li>
                            <a href="javascript:void(0)">
                                <i class="zmdi zmdi-collection-pdf l-blush"></i>
                                <div class="info">
                                    <h4>info_258.pdf</h4>
                                    <small>2MB</small>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="zmdi zmdi-collection-text l-amber"></i>
                                <div class="info">
                                    <h4>newdoc_214.doc</h4>
                                    <small>900KB</small>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="zmdi zmdi-image l-parpl"></i>
                                <div class="info">
                                    <h4>MG_4145.jpg</h4>
                                    <small>5.6MB</small>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="zmdi zmdi-image l-parpl"></i>
                                <div class="info">
                                    <h4>MG_4100.jpg</h4>
                                    <small>5MB</small>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="zmdi zmdi-collection-text l-amber"></i>
                                <div class="info">
                                    <h4>Reports_end.doc</h4>
                                    <small>780KB</small>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="zmdi zmdi-videocam l-turquoise"></i>
                                <div class="info">
                                    <h4>movie2018.MKV</h4>
                                    <small>750MB</small>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</aside>

<div>
    <!-- Chat-launcher -->
    <div class="chat-launcher"></div>
    <div class="chat-wrapper">
        <div class="card">
            <div class="header">
                <ul class="list-unstyled team-info margin-0">
                    <li class="m-r-15">
                        <h2>Design Team</h2>
                    </li>
                    <li>
                        <img src="assets/images/xs/avatar2.jpg" alt="Avatar">
                    </li>
                    <li>
                        <img src="assets/images/xs/avatar3.jpg" alt="Avatar">
                    </li>
                    <li>
                        <img src="assets/images/xs/avatar4.jpg" alt="Avatar">
                    </li>
                    <li>
                        <img src="assets/images/xs/avatar6.jpg" alt="Avatar">
                    </li>
                    <li>
                        <a href="javascript:void(0);" title="Add Member">
                            <i class="zmdi zmdi-plus-circle"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="body">
                <div class="chat-widget">
                    <ul class="chat-scroll-list clearfix">
                        <li class="left float-left">
                            <img src="assets/images/xs/avatar3.jpg" class="rounded-circle" alt="">
                            <div class="chat-info">
                                <a class="name" href="#">Alexander</a>
                                <span class="datetime">6:12</span>
                                <span class="message">Hello, John </span>
                            </div>
                        </li>
                        <li class="right">
                            <div class="chat-info">
                                <span class="datetime">6:15</span>
                                <span class="message">Hi, Alexander
                                    <br> How are you!</span>
                            </div>
                        </li>
                        <li class="right">
                            <div class="chat-info">
                                <span class="datetime">6:16</span>
                                <span class="message">There are many variations of passages of Lorem Ipsum available</span>
                            </div>
                        </li>
                        <li class="left float-left">
                            <img src="assets/images/xs/avatar2.jpg" class="rounded-circle" alt="">
                            <div class="chat-info">
                                <a class="name" href="#">Elizabeth</a>
                                <span class="datetime">6:25</span>
                                <span class="message">Hi, Alexander,
                                    <br> John
                                    <br> What are you doing?</span>
                            </div>
                        </li>
                        <li class="left float-left">
                            <img src="assets/images/xs/avatar1.jpg" class="rounded-circle" alt="">
                            <div class="chat-info">
                                <a class="name" href="#">Michael</a>
                                <span class="datetime">6:28</span>
                                <span class="message">I would love to join the team.</span>
                            </div>
                        </li>
                        <li class="right">
                            <div class="chat-info">
                                <span class="datetime">7:02</span>
                                <span class="message">Hello,
                                    <br>Michael</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="input-group p-t-15">
                    <input type="text" class="form-control" placeholder="Enter text here...">
                    <span class="input-group-addon">
                        <i class="zmdi zmdi-mail-send"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row" style="margin-left:365px;">
            <div class="card col-xl-12">
                    <div class="header">
                        <div class="col-lg-20 col-md-20- col-sm-20">
                                <div class="row clearfix">
                            <div class="col-lg-1 col-md-6">
                        <select [(ngModel)]="props.fontFamily" class="" (change)="setFontFamily()">
                                <option value="arial">Arial</option>
                                <option value="helvetica" selected>Helvetica</option>
                                <option value="verdana">Verdana</option>
                                <option value="courier">Courier</option>
                                <option value="Roboto">Roboto</option>
                                <option value="Open Sans">Open Sans</option>
                                <option value="Zilla Slab">Zilla Slab</option>
                                <option value="Lato">Lato</option>
                                <option value="Bellefair">Bellefair</option>
                                <option value="Fresca">Fresca</option>
                                <option value="Raleway">Raleway</option>
                                <option value="Open Sans Condensed">Open Sans Condensed</option>
                                <option value="Indie Flower">Indie Flower</option>
                                <option value="Josefin Sans">Josefin Sans</option>
                                <option value="Inconsolata">Inconsolata</option>
                                <option value="Pacifico">Pacifico</option>
                                <option value="Gloria Hallelujah">Gloria Hallelujah</option>
                        </select>
                        </div>

                        <div class="col-lg-1 col-md-6">
                        <select type="range" [(ngModel)]="props.fontSize" (change)="setFontSize()" width="50px">
                                <option value="6">6</option>
                                <option value="8" selected>8</option>
                                <option value="10">10</option>
                                <option value="12">12</option>
                                <option value="14">14</option>
                                <option value="16">16</option>
                                <option value="18">18</option>
                                <option value="21">21</option>
                                <option value="24">24</option>
                                <option value="28">28</option>
                                <option value="32">32</option>
                                <option value="36">36</option>
                                <option value="42">42</option>
                                <option value="48">48</option>
                                <option value="56">56</option>
                                <option value="64">64</option>
                                <option value="72">72</option>
                        </select>
                        </div>
                        <div class="col-lg-1 col-md-6">
                        <input type="text" class="form-control" [cpPosition]="'bottom'" [(colorPicker)]="props.fill" [style.background]="props.fill"
                                [value]="props.fill" (colorPickerChange)="setFill()">
                                </div>
                                <div class="col-lg-1 col-md-6">
                                <div class="custom-item-body text-center">
                                        <div class="btn-group" role="group" aria-label="...">
                                            <button type="button" class="btn btn-primary btn-sm" [ngClass]="{'active': props.fontWeight }" (click)="setBold()">
                                                <i class="fa fa-bold">Bold</i>
                                            </button>
                                            <button type="button" class="btn btn-primary btn-sm" [ngClass]="{'active': props.fontStyle }" (click)="setFontStyle()">
                                                <i class="fa fa-italic">Italic</i>
                                            </button>
                                            <button type="button" class="btn btn-primary btn-sm" [ngClass]="{'active': hasTextDecoration('underline') }" (click)="setTextDecoration('underline')">
                                                <i class="fa fa-underline"></i>
                                            </button>
                                            <button type="button" class="btn btn-primary btn-sm" [ngClass]="{'active': hasTextDecoration('overline') }" (click)="setTextDecoration('overline')">
                                                <i class="fa fa-underline fa-flip-vertical"></i>
                                            </button>
                                            <button type="button" class="btn btn-primary btn-sm" [ngClass]="{'active': hasTextDecoration('line-through') }" (click)="setTextDecoration('line-through')">
                                                <i class="fa fa-strikethrough"></i>
                                            </button>
                                        </div>
                                        </div>
                                    </div>
                                    </div>
                                    </div>
                      <ul class="header-dropdown">
                        <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                          <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="javascript:void(0);">Action</a></li>
                            <li><a href="javascript:void(0);">Another action</a></li>
                            <li><a href="javascript:void(0);">Something else</a></li>
                          </ul>
                        </li>
                        <li class="remove">
                          <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                        </li>
                      </ul>
                    </div>
                  </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xl-1" style="margin-left: 350px;">
            <div class="card">
                <div class="card-header">Size</div>
                <div class="card-body">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" [(ngModel)]="size.width" (keyup)="changeSize()">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    Width
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" [(ngModel)]="size.height" (keyup)="changeSize()">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    Height
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="card">
                <div class="card-header">Add text</div>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="textString">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <button id="add-text" data-toggle="tooltip" data-placement="bottom" title="Add text" class="btn btn-primary" (click)="addText()">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="card">
                <div class="card-header">Upload image</div>
                <div class="card-body text-center">
                    <img id="testImage" *ngIf="url" class="images-item-upload" [src]="url" (click)="addImageOnCanvas(url);">
                    <input type="file" (change)="readUrl($event);">
                    <br/>
                    <br/>
                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-outline-danger btn-sm" (click)="removeWhite(url);">
                                <i class="fa fa-times" aria-hidden="true"></i> Remove</button>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="card">
                <div class="card-header">Add figure</div>
                <div class="card-body text-center max-height">
                    <div class="btn-group btn-group-vertical" role="group" aria-label="...">
                        <button type="button" class="btn btn-primary" (click)="addFigure('rectangle');">Rectangle</button>
                        <button type="button" class="btn btn-primary" (click)="addFigure('square');">Square</button>
                        <button type="button" class="btn btn-primary" (click)="addFigure('triangle');">Triangle</button>
                        <button type="button" class="btn btn-primary" (click)="addFigure('circle');">Circle</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-5">
            <canvas id="canvas"></canvas>
        </div>
        <div class="col-xl-1" style="left: 300px;">
            <div class="card">
                <div class="card-header">Options</div>
                <div class="card-body text-center">
                    <div class="btn-group" role="group" aria-label="...">
                        <button data-toggle="tooltip" data-placement="bottom" title="Delete element" type="button" class="btn btn-outline-danger"
                            [disabled]="!selected" (click)="removeSelected();">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                        <button data-toggle="tooltip" data-placement="bottom" title="Send to back" type="button" class="btn btn-outline-primary"
                            [disabled]="!selected" (click)="sendToBack();">
                            <i class="fa fa-level-down" aria-hidden="true"></i>
                        </button>
                        <button data-toggle="tooltip" data-placement="bottom" title="Send to front" type="button" class="btn btn-outline-primary"
                            [disabled]="!selected" (click)="bringToFront();">
                            <i class="fa fa-level-up" aria-hidden="true"></i>
                        </button>
                        <button data-toggle="tooltip" data-placement="bottom" title="Clone" type="button" class="btn btn-outline-primary" [disabled]="!selected || selected.type == 'group'"
                            (click)="clone();">
                            <i class="fa fa-clone" aria-hidden="true"></i>
                        </button>
                        <button data-toggle="tooltip" data-placement="bottom" title="Unselect" type="button" class="btn btn-outline-primary" [disabled]="!selected"
                            (click)="cleanSelect()">
                            <i class="fa fa-remove" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
            <br/>
            <div class="card" *ngIf="!selected">
                <div class="card-header">Canvas</div>
                <div class="card-body">
                    <div class="custom-item" *ngIf="!props.canvasImage">
                        <div class="custom-item-title">Background Color</div>
                        <div class="custom-item-body">
                            <input type="text" class="form-control" [cpPosition]="'bottom'" [(colorPicker)]="props.canvasFill" [style.background]="props.canvasFill"
                                [value]="props.canvasFill" (colorPickerChange)="setCanvasFill()">
                        </div>
                    </div>
                    <div class="custom-item">
                        <div class="custom-item-title">Background Image (url)</div>
                        <div class="custom-item-body">
                            <input type="text" class="form-control" placeholder="http://example.jpg" [(ngModel)]="props.canvasImage" (keyup)="setCanvasImage()">
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="card">
                <div class="card-header">Custom</div>
                <div class="card-body">
                    <div class="custom-item" *ngIf="selected  && selected.type == 'group'">Group Selected</div>
                    <div class="custom-item" *ngIf="!selected">No items selected</div>
                    <div class="custom-item" *ngIf="selected && selected.type != 'group'">
                        <div class="custom-item-title">ID</div>
                        <div class="custom-item-body">
                            <input type="text" class="form-control" [(ngModel)]="props.id" (keyup)="setId()">
                        </div>
                    </div>
                    <div class="custom-item" *ngIf="selected && selected.type != 'group'">
                        <div class="custom-item-title">Opacity</div>
                        <div class="custom-item-body">
                            <input type="range" [(ngModel)]="props.opacity" (change)="setOpacity()">{{props.opacity}}</div>
                    </div>
                    <div class="custom-item" *ngIf="selected && textEditor || selected && figureEditor">
                        <div class="custom-item-title">Fill</div>
                        <div class="custom-item-body">
                            <input type="text" class="form-control" [cpPosition]="'bottom'" [(colorPicker)]="props.fill" [style.background]="props.fill"
                                [value]="props.fill" (colorPickerChange)="setFill()">
                        </div>
                    </div>
                    <div class="custom-item" *ngIf="selected && textEditor">
                        <div class="custom-item-title">Font family</div>
                        <div class="custom-item-body">
                            <select [(ngModel)]="props.fontFamily" class="form-control" (change)="setFontFamily()">
                                <option value="arial">Arial</option>
                                <option value="helvetica" selected>Helvetica</option>
                                <option value="verdana">Verdana</option>
                                <option value="courier">Courier</option>
                                <option value="Roboto">Roboto</option>
                                <option value="Open Sans">Open Sans</option>
                                <option value="Zilla Slab">Zilla Slab</option>
                                <option value="Lato">Lato</option>
                                <option value="Bellefair">Bellefair</option>
                                <option value="Fresca">Fresca</option>
                                <option value="Raleway">Raleway</option>
                                <option value="Open Sans Condensed">Open Sans Condensed</option>
                                <option value="Indie Flower">Indie Flower</option>
                                <option value="Josefin Sans">Josefin Sans</option>
                                <option value="Inconsolata">Inconsolata</option>
                                <option value="Pacifico">Pacifico</option>
                                <option value="Gloria Hallelujah">Gloria Hallelujah</option>
                            </select>
                        </div>
                    </div>
                    <div class="custom-item" *ngIf="selected && textEditor">
                        <div class="custom-item-title">Text Align</div>
                        <div class="custom-item-body text-center">
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-primary" [ngClass]="{'active': props.textAlign == 'left' }" (click)="setTextAlign('left')">
                                    <i class="fa fa-align-left"></i>
                                </button>
                                <button type="button" class="btn btn-primary" [ngClass]="{'active': props.textAlign == 'center' }" (click)="setTextAlign('center')">
                                    <i class="fa fa-align-center"></i>
                                </button>
                                <button type="button" class="btn btn-primary" [ngClass]="{'active': props.textAlign == 'right' }" (click)="setTextAlign('right')">
                                    <i class="fa fa-align-right"></i>
                                </button>
                                <button type="button" class="btn btn-primary" [ngClass]="{'active': props.textAlign == 'justify' }" (click)="setTextAlign('justify')">
                                    <i class="fa fa-align-justify"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="custom-item" *ngIf="selected && textEditor">
                        <div class="custom-item-title">Style</div>
                        <div class="custom-item-body text-center">
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-primary btn-sm" [ngClass]="{'active': props.fontWeight }" (click)="setBold()">
                                    <i class="fa fa-bold"></i>
                                </button>
                                <button type="button" class="btn btn-primary btn-sm" [ngClass]="{'active': props.fontStyle }" (click)="setFontStyle()">
                                    <i class="fa fa-italic"></i>
                                </button>
                                <button type="button" class="btn btn-primary btn-sm" [ngClass]="{'active': hasTextDecoration('underline') }" (click)="setTextDecoration('underline')">
                                    <i class="fa fa-underline"></i>
                                </button>
                                <button type="button" class="btn btn-primary btn-sm" [ngClass]="{'active': hasTextDecoration('overline') }" (click)="setTextDecoration('overline')">
                                    <i class="fa fa-underline fa-flip-vertical"></i>
                                </button>
                                <button type="button" class="btn btn-primary btn-sm" [ngClass]="{'active': hasTextDecoration('line-through') }" (click)="setTextDecoration('line-through')">
                                    <i class="fa fa-strikethrough"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="custom-item" *ngIf="selected && textEditor">
                        <div class="custom-item-title">Font Size</div>
                        <div class="custom-item-body">
                            <input type="range" [(ngModel)]="props.fontSize" (change)="setFontSize()" step="1" min="1" max="120">{{props.fontSize}}</div>
                    </div>
                    <div class="custom-item" *ngIf="selected && textEditor">
                        <div class="custom-item-title">Line Height</div>
                        <div class="custom-item-body">
                            <input type="range" [(ngModel)]="props.lineHeight" (change)="setLineHeight()" step="0.1" min="0" max="10">{{props.lineHeight}}</div>
                    </div>
                    <div class="custom-item" *ngIf="selected && textEditor">
                        <div class="custom-item-title">Char Spacing</div>
                        <div class="custom-item-body">
                            <input type="range" [(ngModel)]="props.charSpacing" (change)="setCharSpacing()" step="10" min="-200" max="800">{{props.charSpacing}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <br/>
            <!--div class="card">
                <div class="card-header">
                    <button type="button" class="btn btn-primary btn-sm" (click)="rasterizeJSON()">
                        <i class="fa fa-refresh" aria-hidden="true"></i> Render to json</button>
                </div>
                <div class="card-body">
                    <pre>{{json}}</pre>
                </div>
            </div-->
        </div>
    </div>
    <br>
    <br>
</div>